<nav class="flex items-center">
  <div class="flex-1">
  <a href="/">
    <img src="{{_theme.asset_base_url}}horizontal-logo.png" alt="microfeed" class="nav-logo" />
  </a>
  </div>
  <div class="flex-none flex">
  <div class="hide-mobile mr-4">
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/microfeed/microfeed/fork" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Fork microfeed/microfeed on GitHub">Fork</a>
</div>

<div>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/microfeed/microfeed" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star microfeed/microfeed on GitHub">Star</a>
</div>
  </div>
</nav>
