<footer class="site-footer">
  <div class="footer-inner">
    <a class="footer-copyright" href="https://www.listennotes.com/" target="_blank" rel="noopener noreferrer">
      {{#_microfeed.copyright}}{{_microfeed.copyright}}{{/_microfeed.copyright}}{{^_microfeed.copyright}}© {{current_year}} microfeed{{/_microfeed.copyright}}
    </a>
    <nav class="footer-links" aria-label="Footer navigation">
      <a href="https://docs.microfeed.org/">Documentation</a>
      <a href="https://github.com/microfeed/microfeed">GitHub</a>
    </nav>
  </div>
</footer>

<script src="{{_theme.asset_base_url}}theme.js"></script>
