<footer class="text-sm border-t text-center mb-16 text-helper-color">
  <div class="mt-4">
    {{#_microfeed.copyright}}
    {{_microfeed.copyright}}
    {{/_microfeed.copyright}}
    {{^_microfeed.copyright}}
    ©2022 {{_microfeed.publisher}}
    {{/_microfeed.copyright}}
  </div>

  <div>
    powered by <a href="https://www.microfeed.org/" class="text-black">microfeed</a>
    (a <a class="text-black" href="https://www.listennotes.com/">Listen Notes</a> project)
  </div>
</footer>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
